
:root {
  font-family: 'Gilroy',sans-serif;
  font-synthesis: none;
  background-color: #E5E5E5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  height: min-content;
}
.main_div{
  display: flex;
  flex-direction: column;
  gap: 125px;
}
h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
}
.container{
  padding: 0 10%;
}
@keyframes pulse {
   0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes larger {
   0% {
     transform: scale(0.7);
    }
    100% {
      transform: scale(1);
  }
}
@keyframes largerr {
   0% {
     transform: scale(0.95);
    }
    100% {
      transform: scale(1);
  }
}
@keyframes pulsee {
  0% {
    box-shadow: 0 0 0 0 #28BF04;
  }
}
@media screen and (max-width:1000px){
  .main_div{
    gap: 100px;
  }
  .container{
    padding: 0 5%;
  }
  h1{
    font-size: 42px;
  }
}
@media screen and (max-width:500px){
  h1{
    font-size: 30px;
  }
  .container{
    padding: 0 20px;
  }
}